$color-initial: #fff !default;
$color-primary: #97bd28 !default;
$color-secondary: #1a1b41 !default;
$color-success: #a4d11d !default;
$color-danger: #dc3545 !default;
$color-light: #ededed !default;
$color-dark: #01051c !default;
$color-light-grey: #ccc;
$color-black: #000;
